<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>
      <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add Category</h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col"> Category Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in data %}
                                        <tr>
                                            <td>{{ d.C_Name }}</td>
                                            <td>{{ d.Description }}</td>
                                            <td>
                                                <img src="{{ d.C_Image.url }}" width="30px" height="30px">
                                            </td>
                                            <td>
                                                <form method="post" action="{% url 'edit_category' dataid=d.id %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <button type="submit"  class="btn btn-outline-dark m-2">Edit</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{% url 'del_category' dataid=d.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-outline-dark m-2">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
</body>
</html>
{% endblock %}